footer {
  position: relative;
  .sns {
    position: absolute;
    width: 100%;
    top: -36px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .share {
      position: relative;
      margin: 0 20px;
      width: 300px;
      img {
        position: absolute;
        width: 100%;
        transition: .2s $bezier-fast-ease-in-out;
        transform: scaleX(1)skewX(0deg);
      }
      .share-text {
        position: absolute;
        width: 100%;
        font-size: 1.9rem;
        text-align: center;
        color: #fff;
        padding-top: 14px;
        transition: .2s $bezier-fast-ease-in-out;
      }
      &:hover {
        img {
          transform: scaleX(1.1)skewX(8deg);
        }
        .share-text {
          transform: scaleX(1.1)skewX(-2deg);
        }
      }
    }
  }
  .scroll-top {
    position: absolute;
    top: 40px;
    right: 18%;
    width: 36px;
  }
  .footer-visual {
    width: 100%;
    height: 420px;
    background-color: $ika-gray;
    background-image: url("./../../images/techbookfest6/footer_BG1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img.footer-logo {
      display: block;
      width: 500px;
      margin: auto;
      padding: 100px 0;
    }
  }
  .copyright {
    width: 100%;
    background-image: url("./../../images/techbookfest6/footer_BG2.png");
    margin: auto;
    text-align: center;
    padding: 12px 0 18px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
  }
}