header {
  width: 100%;
  height: 950px;
  background-color: $ika-gray;
  background-image: url("./../../images/techbookfest6/top_image.png");
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: 1000px;
  position: relative;
  .home-link {
    margin-left: 20px;
    padding-top: 16px;
    img.logo14s {
      width: 120px;
      opacity: 1;
      transition: .2s ease-out;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .share-btns {
    position: absolute;
    top: 22px;
    right: 20px;
    a {
      margin: 8px;
      img.share-btn {
        width: 42px;
        height: 42px;
        transform: rotateZ(0deg)scale(1);
        transition: 1s $bezier-fast-ease-in-out;
      }
      &:hover img.share-btn {
        transform: rotateZ(360deg)scale(.7);
      }
    }
  }
  .title {
    padding-top: 50px;
    margin-left: calc(20% - 160px);
    .title-img {
      width: 240px;
    }
  }
  .scroll {
    margin-left: calc(20% - 60px);
    .scroll-img {
      width: 58px;
      animation: 4s scroll_down 0s infinite ease-in-out;
    }
  }
  .detail {
    position: absolute;
    bottom: 100px;
    right: calc(36% - 400px);
    color:#fff;
    font-size: 2.6rem;
    font-weight: 700;
    .pages {
      margin: 20px 0;
    }
    .variation {
      margin: 6px 0;
      display: flex;
      flex-wrap: nowrap;
      line-height: 5rem;
      .name {
        padding-top: .9rem;
      }
      .value {
        width: 19rem;
        font-size: 5rem;
        text-align: right;
      }
    }
  }
}

@keyframes scroll_down {
  0%  {transform: translateY(0)}
  80% {transform: translateY(0)}
  85% {transform: translateY(10px)}
  90% {transform: translateY(0)}
  95% {transform: translateY(10px)}
  100% {transform: translateY(0)}
}