section#about,section.techbook-pdf {
  background: #fff;
}
/*section共通*/
.section-top {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  .section-BG {
    position: relative;
    width: 100%;
    height: 170px;
    background-color: $ika-gray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .BG-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $ika-dark-gray;
      opacity: .3;
    }
  }
  .BG1 {background-image: url("./../../images/techbookfest6/section_BG1.png");}
  .BG2 {background-image: url("./../../images/techbookfest6/section_BG3.png");}
  .BG3 {background-image: url("./../../images/techbookfest6/section_BG2.png");}
  .section-title {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 520px;
    height: 50px;
    background: #fff;
    text-align: center;
    .text {
      padding-top: 8px;
      font-weight: 700;
      font-size: 3rem;
      transform: scaleY(.8);
    }
  }
}
/*container*/
.container {
  width: 1200px;
  margin: auto;
}

/*BG*/
body {
  .please-wait {
    position: relative;
    z-index: 0;
    width: 100%;
    display: block;
    text-align: center;
    padding: 80px 0 90px;
    .BG-spiral {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -20;
      overflow: hidden;
      img {
        z-index: -20;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: 16s rotation linear infinite;
        opacity: .6;
      }
    }
  }
}



@import 'header';
@import 'techbook-pdf';
@import 'about';
@import 'contents';
@import 'products';
@import 'footer';

@keyframes rotation {
  0%  {transform: rotateZ(0deg)}
  100% {transform: rotateZ(360deg)}
}