.header-under {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: .5s .2s $bezier-fast-ease-out;
}

header {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s $bezier-fast-ease-out;

  .logo {
    margin: auto;
    text-align: center;
    color: white;

    img {
      width: 18rem;
    }
    h1 {
      margin: 0;
      font-size: 7rem;
      font-kerning: normal;
      height: 8.5rem;
    }
    p {
      margin: 0;
      font-size: 2.1rem;
    }
  }
}

.header_open {
  width: 50vw;
}
.header-under_open {
  width: 50vw;
}

@media(max-width: 1000px) {
  .header-under {
    transition: 1s .2s $bezier-fast-ease-out;
  }
  header {
    transition: 1s $bezier-fast-ease-out;
    z-index: 2;
  }
  .header_open {
    transform: translateX(-100vw);
  }
  .header-under_open {
    transform: translateX(-100vw);
  }
}
@media(max-width: 620px){
  header {
    .logo {  
      img {
        width: 13rem;
      }
      h1 {
        margin: 0;
        font-size: 5rem;
        font-kerning: normal;
        height: 6rem;
      }
      p {
        margin: 0;
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
    }
  }
}