
// メインコンテンツ
main {
  margin: 0;
  margin-left: 50%;
  padding: 0;
  width: 50%;
  height: 100%;
  background: white;
  position: relative;
  overflow-y: auto;

  .contents {
    margin: 10%;
    margin-top: 200px;
    padding: 0;
    max-width: 100%;
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: inline-block;
      min-width: 200px;
      width: 35%;
      min-height: 200px;
      margin: 10px;
      padding: 0;
      padding-left: 20px;

      p {
        margin: 0;
        &:last-child {
          margin-bottom: 30px;
        }
      }
      .nolink {
        &:hover {
          text-decoration: line-through;
        }
      }
      .item {
        display: block;
        padding: 1.5rem 3rem;
        z-index: 0;
        position: relative;
      }
      .item-link {
        padding: 1.5rem 3rem;
        text-decoration-line: none;
        position: relative;
        transition: .2s ease-in-out;
        img.new-tag {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: -12px;
          right: unset;
          margin: auto;
          width: 32px;
          transform: rotateZ(0deg);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 100%;
          z-index: -2;
          transition: .5s $bezier-fast-ease-out;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 100%;
          z-index: -1;
          opacity: 0;
          transition: .5s .1s $bezier-fast-ease-out;
        }
        &:hover {
          color: white;
          img.new-tag {
            animation: newRotate .8s forwards $bezier-fast-ease-out;
          }
          &::before {
            width: 100%;
            opacity: 1;
          }
          &::after {
            width: 100%;
            opacity: 1;
          }
        }
        
      }
    }
  }

  .twitter {
    display: block;
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 40px;

    .twitter-tag-link {
      display: block;
      position: fixed;
      right: 85px;
      bottom: 40px;
      width: auto;
      height: 50px;
      padding: 0 40px;
      text-align: center;
      line-height: 51px;
      font-size: 2.3rem;
      font-weight: bold;
      text-decoration-line: none;
      color: $official-twitter;
      z-index: -3;
      transition: .2s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
    .tweet-button {
      display: inline-block;
      width: 50px;
      height: 50px;
      transition: .2s ease-in-out;
      img {
        width: 50px;
      }
      &::after {
        content: "";
        position: fixed;
        bottom: 40px;
        right: 0px;
        height: 50px;
        width: 65px;
        background: white;
        z-index: -1;
      }

      &::before {
        content: "ハッシュタグでツイート";
        position: fixed;
        bottom: 40px;
        right: 40px;
        height: 50px;
        transition: .3s $bezier-fast-ease-out;
        background: $official-twitter;
        color:white;
        font-size: 1.6rem;
        padding-left: 30px;
        padding-right: 60px;
        text-align: center;
        line-height: 48px;
        transform: translateX(300px);
        z-index: -2;
        border-radius: 25px;
      }
      &:hover {
        &::before {
          transform: translateX(0);
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  main {
    margin: 0;
    width: 100%;
    .contents{
      li {
        width: 40%;
      }
    }
  }
}

@media(max-width: 920px) {
  main{
    .contents {
      margin-top: 100px;
      li {
        .item {
          text-align: center;
          margin: 4px 0; 
        }
        .item-link {
          text-align: center;
          margin: 4px 0;
          img.new-tag {
            left: unset;
            right: 4px;
          }
          &::before {
            width: 100%;
            height: 1rem;
            opacity: 1;
          }
        }
      }
    }
    .twitter {
      position: initial;
      bottom: 0;
      right: 0;
      text-align: center;

      .twitter-tag-link {
        position: initial;
      }
      .tweet-button {
        margin: 5px auto;
        margin-bottom: 100px;
        display: block;
        position: relative;
        padding-left: calc(16rem + 50px);

        img {
          position: relative;
          z-index: 1;
        }
        &::after {
          position: absolute;
          bottom: 0;
        }
        &::before {
          position: absolute;
          bottom: 0;
          right: -1.8rem;
          width: calc(16rem + 50px);
          z-index: 0;
          transform: translateX(0);
        }
      }
    }
  }
}

@media(max-width: 620px) {
  main {
    .contents{
      li {
        width: 50%;
        padding: 0;
      }
    }
  }
}

@keyframes newRotate {
  0% {transform: rotateZ(0deg)}
  100% {transform: rotateZ(-360deg);}
}