// メニューボタン
.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s $bezier-fast-ease-in-out;
  z-index: 100;

  .menu-icon {
    margin: ((80px - 8px) / 2) auto; //(80-8)/2
    width: 50px;
    height: 8px;
    background-color: white;
    position: relative;
    border-radius: 4px;
    transition: .5s $bezier-fast-ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: -(50px - 8px) / 2; //-(width - border-r)/2
      left: 0;
      width: 50px;
      height: 8px;
      background-color: white;
      border-radius: 4px;
      transition: .5s $bezier-fast-ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -(50px - 8px) / 2;
      left: 0;
      width: 50px;
      height: 8px;
      background-color: white;
      border-radius: 4px;
      transition: .5s $bezier-fast-ease-in-out;
    }
  }
}

.menu-button:hover {
  transform: scale(0.9);
}

.menu-button_open {
  .menu-icon {
    width: ((50px - 8px) * sqrt(2)) + 8px; //≒ 67.4px
    transform: rotate(45deg);

    &::before {
      top: -(50px - 8px)/2 / sqrt(2); //≒ -14.85px
      left: (50px - 8px)/2 / sqrt(2);
      width: ((50px - 8px)/2 * sqrt(2)) + 8px; //≒ 37.7px
      transform: rotate(90deg);
    }
    &::after {
      bottom: -(50px - 8px)/2 / sqrt(2);
      left: (50px - 8px)/2 / sqrt(2);
      width: ((50px - 8px)/2 * sqrt(2)) + 8px;
      transform: rotate(90deg);
    }
  }
}

@media(max-width: 920px) {
  .menu-button {
    top: 10px;
    right: 10px;
  }
}