
//use header & menu-button
.spr {
  background-color: $spring !important;
  &::before {
    background-color: $spring !important;
  }
  &::after {
    background-color: $spring !important;
  }
}
.sum {
  background-color: $summer !important;
  &::before {
    background-color: $summer !important;
  }
  &::after {
    background-color: $summer !important;
  }
}
.aut {
  background-color: $autumn !important;
  &::before {
    background-color: $autumn !important;
  }
  &::after {
    background-color: $autumn !important;
  }
}
.win {
  background-color: $winter !important;
  &::before {
    background-color: $winter !important;
  }
  &::after {
    background-color: $winter !important;
  }
}

//use main .item-link
.spr-link {
  &::before {
    background-color: $spring-sub;
  }
  &::after {
    background-color: $spring;
  }
}
.sum-link {
  &::before {
    background-color: $summer-sub;
  }
  &::after {
    background-color: $summer;
  }
}
.aut-link {
  &::before {
    background-color: $autumn-sub;
  }
  &::after {
    background-color: $autumn;
  }
}
.win-link {
  &::before {
    background-color: $winter-sub;
  }
  &::after {
    background-color: $winter;
  }
}

//use header-under
.spr-sub {
  background-color: $spring-sub;
}
.sum-sub {
  background-color: $summer-sub;
}
.aut-sub {
  background-color: $autumn-sub;
}
.win-sub {
  background-color: $winter-sub;
}