@import 'normalize';
@import "../../node_modules/mathsass/dist/math";
@import 'variables';
@import 'mixins';

html {
  height: 100%;
  font-size: 62.5%;
  font-family: $noto-font;
}
body {
  margin: 0;
  position: relative;
  height: 100%;
  overflow:hidden;
}

::selection {
  background: transparent;
}

@import 'main';
@import 'header';
@import 'menu-button';
@import 'season-list';