$white: #fff;
$black: #333;
$dark-gray: #444;
$gray: #666;
$light-gray: #ccc;
$dark-brown: #4c3f38;
$light-brown: #EEE5DE;
$light-blue: #0BB3C7;
$official-twitter: #55acee;
$official-facebook: #455a9e;

$primary-font: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$rounded-font: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
$code-font: Ricty;

$font-color-brown: $dark-brown;
$font-color-black: $black;

$bezier-fast-ease-out: cubic-bezier(.17,.07,.02,.98);
$bezier-fast-ease-in-out: cubic-bezier(.17,.07,.02,.98);