mixin item-link(name,url)
  p: a(href=url).item.item-link= name

ul.contents
  li
    h2 #muscle
    p.item ベンチプレス
    p.item デッドリフト
  li
    h2 #book
    +item-link("読書会","#")
    +item-link("読書会2nd","#") 
  li
    h2 #dojin
    +item-link("闇鍋本","./together.html")
  li
    h2 #profile
    +item-link("メンバーの一覧","#")

.twitter
  a(href="https://twitter.com/search?vertical=default&q=%23kosen14s&src=typd").twitter-tag-link #kosen14s
  a(href="https://twitter.com/intent/tweet?text=&hashtags=kosen14s").tweet-button
    img(src="../images/twitter.svg", alt="ハッシュタグでツイートする")