mixin item-link(name,url)
  a(href=url).item.item-link= name

ul.contents
  li
    h2 #muscle
    p.item.nolink ベンチプレス
    p.item.nolink デッドリフト
  li
    h2 #book
    p: +item-link("読書会","https://kosen14s.github.io/site-old-ver1/bookclub/")
    p: +item-link("読書会2nd","https://kosen14s.github.io/site-old-ver1/bookclub2nd/")
  li
    h2 #dojin
    p: +item-link("闇鍋本 TOGETHER","./together")
  li
    h2 #profile
    p: +item-link("メンバーの一覧","./member")

.twitter
  a(href="https://twitter.com/search?vertical=default&q=%23kosen14s&src=typd").twitter-tag-link #kosen14s
  a(href="https://twitter.com/intent/tweet?text=&hashtags=kosen14s").tweet-button
    img(src="./images/twitter.svg", alt="ハッシュタグでツイートする")