doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="../styles/together.css")
    title kosen14s #dojin TOGETHER

  body
    header.header

  main
    .book-view

    .link

    .about

    



    script(src="../scripts/together.js")