doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="../styles/together.css")
    title kosen14s #dojin TOGETHER

  body
    main.main
      include _main

    header#header
      .logo
        img(src="", alt="kosen14s-logo")#logo-img
        h1 kosen14s
        p 高専2014年度入学生のゆるふわ団体

    button.menu-button#menu-button
      .menu-icon#menu-icon

    script(src="../scripts/index.js")