.info {
  .info-wrapper {
    width: 100%;
    .property {
      display: block;
      width: 140px;
      margin: 3rem 0 1rem;
      font-size: 2rem;
      font-weight: bold;
      color: $light-skyblue;
    }
    .values {
      padding-left: 30px;
      .product {
        padding: 1.5rem 0;
        width: 600px;
        float: left;
      }
      .price {
        padding: 1.5rem 0;
        color: #aaa;
      }
      .value-mono {
        display: inline-block;
        padding: 1.5rem 0;
        width: 100%;
      }
    }
    a:hover {
      color: white;
      .product {
        filter: drop-shadow(0 0 10px white);
      }
      .price {
        color: white;
        filter: drop-shadow(0 0 10px white);
      }
    }
  }
}
@media(max-width: 1000px) {
  .info {
    .info-wrapper {
      .values {
        .product {
          float: none;
          width: 100%;
          padding: 2rem 0 .5rem;
        }
        .price {
          padding: .5rem 0 2rem;
        }
      }
    }
  }
}