.links {
  .link-box-large {
    display: block;
    width: 500px;
    margin: 20px auto;
    transition: .3s $bezier-fast-ease-out;
    &:hover {
      box-shadow:0 0 60px 0 $techbookfest;
    }
  }
  .share-sns {
    width: 500px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .link-box-tw {
      width: 240px;
      transition: .3s $bezier-fast-ease-out;
      &:hover {
        box-shadow:0 0 60px 0 $official-twitter;
      }
    }
    .link-box-fb {
      width: 240px;
      transition: .3s $bezier-fast-ease-out;
      &:hover {
        box-shadow:0 0 60px 3px $official-facebook;
      }
    }
  }
}

@media(max-width: 620px) {
  .links {
    .link-box-large {
      width: 100%;
    }
    .share-sns {
      width: 100%;
      .link-box-tw {
        width: 95%;
        margin-right: 5%;
      }
      .link-box-fb {
        width: 95%;
        margin-left: 5%;
      }
    }
  }
}