doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:600,700&amp;subset=japanese",rel="stylesheet")
    link(rel="stylesheet", href="./../styles/ikanoosushi/ikanoosushi.css")
    link(rel="icon" type="image/x-icon" href="./../images/favicon.ico")
    title いかのおすし | kosen14s #dojin
    meta(property="og:locale", content="ja_JP")
    meta(property="og:site_name", content="kosen14s")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://kosen14s.github.io/ikanoosushi")
  body
    header
      .home-link
        a(href="./../"): img.logo14s(src="./../images/techbookfest6/14s_dojin_logo.svg", alt="kosen14s #dojin")
      .title: img.title-img(src="./../images/techbookfest6/ikanoosushi_logo.svg", alt="いかのおすし")
      .scroll
        a(href="#techbook"): img.scroll-img(src="./../images/techbookfest6/scroll_down.svg", alt="scroll down!")
      .detail
        .pages 90ページ
        .variation
          .name 物理本
          .value ¥800
        .variation
          .name PDF版
          .value ¥600
    main
      section.techbook-pdf
        .techbook#techbook
          .techbook-wrapper
            .date 2019/04/14
            .techbook-link 
              a(href="http://") 技術書典6<br>
              | にて販売
        .pdf#pdf
          .pdf-link
              img.pdf-btn(src="./../images/techbookfest6/pdf_link.png", alt="pdf_link")
              img.pdf-btn-hover(src="./../images/techbookfest6/pdf_link_hover.png", alt="pdf_link")
              .pdf-btn-text PDF Comming Soon!

      section#about
        .section-top
          .section-BG.BG1
          .section-title: .text kosen14sとは
        .about.container
          p kosen14sは2014年度高専入学生のゆるふわ団体です。kosen14sは2014年度高専入学生のゆるふわ団体です。
          p kosen14sは2014年度高専入学生のゆるふわ団体です。kosen14sは2014年度高専入学生のゆるふわ団体です。kosen14sは2014年度高専入学生のゆるふわ団体です。
      section#contents
        .section-top
          .section-BG.BG2
          .section-title: .text コンテンツ
      section#products
        .section-top
          .section-BG.BG3
          .section-title: .text その他の販売物
          .sns
            a.share#twitter(href="http://")
              img(src="./../images/techbookfest6/share_tw.svg")
              .share-text Twitterでつぶやく
            a.share#facebook(href="http://")
              img(src="./../images/techbookfest6/share_fb.svg")
              .share-text Facebookでシェア
    footer